
@import url('http://fonts.googleapis.com/css?family=Lato');

body{
  height: 100%;
  
  font-family: 'Lato', sans-serif;
}

.container{
  display: block;
  position: absolute;
  margin: auto;
  height: 450px;
  width: auto;
  bottom: 0; left:0; right: 0; top:0;
  padding: 0;
}


div label input[type=radio]{
  position: absolute;
  visibility: hidden;
}
div label{
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
}
div label span{
  display: block;
  position: top;
  font-weight: 300;
  font-size: 1.35em;
  margin: 2px auto;
  height: 10px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

div label:hover label{
  color: #FFFFFF;
}

div label .check{
  
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

div label:hover .check {
  border: 10px solid lightblue;
}
span:hover {
  color: lightblue;
}


div label .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: -5px ;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}	
input[type=radio]:checked ~ .check {
  border: 5px solid #5CB85C;
}

input[type=radio]:checked ~ .check::before{
  background: #5CB85C;
}

input[type=radio]:checked ~ span {
  color: #5CB85C;
}